
actions=1
anchor=top-center
background-color=#2d2d2dFf
border-color=#66ccccF2
border-radius=0
border-size=2
default-timeout=10000
font=JetBrainsMono Nerd Font 11
group-by=app-name
height=200
history=1
icon-location=left
icons=1
ignore-timeout=0
layer=overlay
margin=10
markup=1
max-history=100
max-icon-size=64
max-visible=5
padding=15
progress-color=over #cc99ccF2
sort=-time
text-alignment=left
text-color=#ccccccFF
width=500

[grouped]
format=<b>%s</b>\n%b

[urgency=high]
background-color=#2d2d2dF2
border-color=#66ccccF2
default-timeout=0
text-color=#66cccc

[urgency=low]
background-color=#2d2d2dFF
border-color=#66ccccF2
default-timeout=3000
text-color=#66cccc

[urgency=normal]
background-color=#2d2d2dF2
border-color=#66cccc
default-timeout=3000
text-color=#66cccc
